.MoviesCardList__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: solid 1px #E8E8E8;
  border-radius: 5px;
  width: 320px;
  height: 36px;
  background: none;

  margin: 50px auto auto auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #000000;
}
