.Techs {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 110px 70px 110px 70px;

  background-color: #F5F5F5;
}

@media all and (max-width: 500px) {
  .Techs {
    justify-content: center;
    padding: 70px 14px 70px 14px;

    background-color: #FAFAFA;
  }
}
