.Register__form-label {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;

  padding: 0 0 10px 0;

  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #A0A0A0;
  border-bottom: solid 1px #E8E8E8;
}

.Register__form-label:focus-within {
  border-bottom: solid 1px #3456F3;
}

.Register__form-label:invalid {

  border-bottom: solid 1px red;
}
