.Footer__footer {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  margin: 0;

  border-top: solid 1px #E8E8E8;
}

@media all and (max-width: 500px) {
  .Footer__footer {
    height: auto;
    margin: 0 0 10px 0;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
