.AboutMe__portfolio-header {
  margin: 0 0 31px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */


  color: #A0A0A0;

  mix-blend-mode: normal;
}

@media all and (max-width: 500px) {
  .AboutMe__portfolio-header {
    font-size: 14px;
    line-height: 20px;
  }
}
