.Login__button-login {
  width: 396px;
  height: 45px;
  margin: 134px 0 16px 0;

  background: #3456F3;
  border-radius: 3px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

}

@media all and (max-width: 700px) {
  .Login__button-login {
    width: 260px;
  }
}
