.Login__header {
  width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: left;

  margin: 70px auto 40px auto;
}

@media all and (max-width: 700px) {
  .Login__header {
    width: 260px;
    justify-content: center;
  }
}
